
.grid {
    width: 500px;
    height: 460px;
    margin: 0 auto;
    padding: 5px;
    background-color: #000000;
}

.boxs {
    display: inline-block;
    margin: 2px;
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    transition: background-color 0.5s ease;
}

.boxs .text {
    width: 100%;
    height: 100px;
    display: block;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
    line-height: 120px;
}

[data-cell='0'] {
    background-color: #f5f5f5;
}

[data-cell='2'] {
    background-color: #1bffbe;
}

[data-cell='4'] {
    background-color: #e2868c;
}

[data-cell='8'] {
    background-color: #f95833;
}

[data-cell='16'] {
    background-color: #90f951;
}

[data-cell='32'] {
    background-color: #6984f9;
}

[data-cell='64'] {
    background-color: #f830f9;
}

[data-cell='128'] {
    background-color: #f9354e;
}

[data-cell='256'] {
    background-color: #c12c32;
}

[data-cell='512'] {
    background-color: #1513ab;
}

[data-cell='1024'] {
    background-color: #012380;
}

[data-cell='2048'] {
    background-color: #000000;
}
